.SideBarHeader {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  width: 250px;
  white-space: nowrap;
  background-color: $c-header;
  border-right: 0.1px solid black;

  &__logo {
    color: $c-burger;
    font-weight: 400;
  }
}