// Colors
$c-white: #ffffff;
$c-black: #000000;

$c-red: #df3639;
$c-hoverRed: #cb2225;
$c-redGradient: linear-gradient(137.07deg, #df3639 10.42%, #eb7e80 96.99%);

$c-dark: #0c1f34;
$c-grey: #7e8593;
$c-greyLine: #e0e0e0;
$c-greyBtn: #f0f0f0;
$c-greyBg: #f8f8f8;

$c-green: #56be92;
$c-orange: #ff7b1d;

$c-header: #191970;
$c-burger: #ffffff;
$c-sidebar: #2F4F4F;
$c-input-search: #191970;