@use 'sass:math';
@use './variables' as *;

// clearfix
@mixin clearfix() {
	&::after {
		display: block;
		clear: both;
		overflow: hidden;

		height: 0;

		content: '';
	}
}

// extend default clickable zone
@mixin clickZone($sizeZone: 10px) {
	position: relative;

	&::before {
		position: absolute;
		top: ($sizeZone * -1);
		right: ($sizeZone * -1);
		bottom: ($sizeZone * -1);
		left: ($sizeZone * -1);

		content: '';
		cursor: pointer;
	}
}

// border-radius
@mixin border-radius($radius) {
	-webkit-border-radius: $radius;
	-moz-border-radius: $radius;
	-ms-border-radius: $radius;
	border-radius: $radius;
}

// placeholder color
@mixin placeholder($color) {
	&::placeholder {
		opacity: 1;
		color: $color;
	}
}

// fullsize
@mixin fullsize() {
	position: absolute;
	top: 0;
	left: 0;

	width: 100%;
	height: 100%;
}

// cursor grab
@mixin cursor-grab() {
	cursor: move;
	cursor: grab;
}

// cursor grabbing
@mixin cursor-grabbing() {
	cursor: move;
	cursor: grabbing;
}

// cursor default, user-select none
@mixin without-interaction() {
	cursor: default;
	user-select: none;
}

@mixin without-cursor-interaction() {
	cursor: none;
	user-select: none;
}
