//@import @sassConfig


.layout {
	display: flex;
	flex-direction: column;
	width: 100%;
	min-height: 100vh;
	margin: 0 auto;
	overflow: hidden;

	&Content {
		flex: 1 0 auto;
		padding-top: calc(103px + 50px);
			//+max-width($tablet)
			//	padding-top: 81px

		&Main {
			padding-top: 0
				//+max-width($tablet)
				//	padding-top: 0

		}

	}

}


.layoutTopMain {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 2;
}