/* ** --- Reset CSS --- ** */
@use 'sass:math';
@use 'reset.scss';
@use 'common.scss' as *;

/* ** --- Box sizing --- ** */

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* ** --- Fonts --- ** */
// @include webFont($fontFamily-0, 'Helios/Helios_Ultra-Compressed', 800);

/* ** --- Document --- ** */

html,
body {
	
	min-height: 100%;

	color: $c-black;
	background: $c-greyBg;

	font-family: $fontFamily;
	font-size: $baseFontSize;
	font-weight: 400;
	line-height: $lineHeight;
	text-size-adjust: 100%;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
}

body {
	overflow-x: hidden;
}

/* ** --- Links --- ** */

a {
	text-decoration: none;

	color: $c-dark;
}

.visually-hidden {
	position: absolute;

	overflow: hidden;
	clip: rect(0 0 0 0);

	width: 1px;
	height: 1px;

	white-space: nowrap;
	clip-path: inset(50%);
}

.container {
	padding: 0 2rem;
}

.logo {
	height: 1em;
	margin-left: 0.5rem;
}

.main {
	display: flex;
	align-items: center;
	flex: 1;
	flex-direction: column;
	justify-content: center;

	min-height: 100vh;
	padding: 4rem 0;
}

.footer {
	display: flex;
	align-items: center;
	flex: 1;
	justify-content: center;

	padding: 2rem 0;

	border-top: 1px solid #eaeaea;
}

.footer a {
	display: flex;
	align-items: center;
	flex-grow: 1;
	justify-content: center;
}
